@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 940px;
  width: 96%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hero {
  background: url(../img/bg.png) center bottom 30% no-repeat, rgba(0, 0, 0, 0.2);
  background-size: cover;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  background-blend-mode: darken;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right 24% top;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding: 0;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.2777777778rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    height: 5.0555555556rem;
    background: #1968B1;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 5.0555555556rem;
  }
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  margin-right: 0.3333333333rem;
  fill: #fff;
}
.phone-number__icon-elem--black {
  fill: #000;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .logo {
    padding: 3% 0 2% 3%;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    padding: 4% 0 2% 2%;
  }
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2777777778rem;
}
.menu--column .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu--color--white .menu__link {
  color: #fff;
}
.menu--fz--36 .menu__link {
  font-size: 2rem;
  line-height: 4rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  margin-bottom: 0.5555555556rem;
  margin-right: 1.4444444444rem;
}
@media screen and (max-width: 480px) {
  .menu__item {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.hamburger {
  width: 1.4444444444rem;
  height: 1.5555555556rem;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1.4444444444rem;
  display: none;
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hamburger {
    margin-right: 0.5555555556rem;
    margin-top: 1.7222222222rem;
  }
}

.hamburger__icon {
  height: 1.4444444444rem;
  width: 1.3333333333rem;
  fill: #fff;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.7777777778rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7777777778rem;
  fill: #fff;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 5rem;
}

.button {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.2222222222rem 2.3888888889rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.button--theme--yellow {
  background: #FEDB3F;
  color: black;
}
.button--theme--yellow:hover {
  color: black;
  background: #FFD517;
}
.button--theme--yellow-form {
  background: #FFD517;
  color: black;
}
.button--theme--yellow-form:hover {
  color: black;
  background: #FEDB3F;
}
.button--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.button--theme--transparent:hover {
  color: #FFD517;
}
.button--icon--close .button__icon {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #fff;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--bg--font-color {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/bgorder.jpg) center top no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/bgorder.jpg) center top no-repeat;
  color: #fff;
  background-size: cover;
}
.section--bg--color--gray {
  background-color: #F8FAF9;
  background-size: cover;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.5555555556rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 36px;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.2222222222rem;
}

.headline__title {
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0.1666666667rem;
  }
}

.headline__subtitle {
  padding: 0 27%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 10%;
  }
}

.benefits-section {
  padding: 5.9444444444rem 0 6.3333333333rem;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.7222222222rem;
  }
}
.benefits__item:before {
  content: url(../img/dots.png);
  position: absolute;
  top: 3.5555555556rem;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5555555556rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 1.2222222222rem;
  }
}

.reviews-section {
  padding: 3.4444444444rem 0 4.4444444444rem;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  min-height: 18.8888888889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.1111111111rem 2.3333333333rem;
  }
}

.reviews__display-item {
  position: absolute;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.3333333333rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  margin-top: 1.3888888889rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7777777778rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-top: 1.7777777778rem;
  }
}

.reviews__text {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 0.8333333333rem;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  margin-top: 0.8333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.active {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-section {
  padding: 3.4444444444rem 0 4.7222222222rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.7222222222rem;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
    margin-top: 1.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 2%;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.9444444444rem;
  }
}

.form__row--textarea {
  margin-bottom: 1.6666666667rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.7777777778rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.2222222222rem 0.6111111111rem;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.input-error {
  border-color: rgb(233, 89, 89);
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 1.0555555556rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/tick.png) center center no-repeat;
}

.radio--checkbox {
  margin-bottom: 2.4444444444rem;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.6111111111rem;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 1rem;
}

.fixed-menu {
  position: fixed;
  top: 34%;
  right: 4%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.1666666667rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ymaps-2-1-79-map {
  height: 652px;
}

.map {
  height: 652px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
  padding: 0 1.6666666667rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-style: 1.1666666667rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__item {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.socials__item:not(:first-child) {
  margin-left: 0.5555555556rem;
}
.socials__link {
  width: 100%;
  height: 100%;
}
.socials__icon {
  width: 100%;
  height: 100%;
  fill: #B3B3B3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.socials__icon:hover {
  fill: #292929;
}

.products__wrap-list {
  overflow: hidden;
}
.products__wrap-list .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .products__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.products__preview {
  width: 50%;
  max-width: 29.7222222222rem;
}
.products__info {
  margin-left: 2.4444444444rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .products__info {
    margin-left: 0;
    padding: 0 6.6666666667rem;
  }
}
@media screen and (max-width: 768px) {
  .products__info {
    padding: 0 2.7777777778rem;
  }
}
.products__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3888888889rem;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 1.2777777778rem;
  margin-top: 2.8888888889rem;
}
@media screen and (max-width: 768px) {
  .products__title {
    margin-top: 0.5555555556rem;
  }
}
.products__desc {
  margin-bottom: 1.3333333333rem;
  margin-right: 1.8333333333rem;
}
@media screen and (max-width: 768px) {
  .products__desc {
    margin-right: 0;
  }
}
.products__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .products__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products__size-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.products__size-item:not(:first-child) {
  margin-left: 2.4444444444rem;
}
.products__size-count {
  color: #000;
  font-weight: 700;
}
.products__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .products__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products__price {
  color: #151515;
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
  margin-right: 1.6666666667rem;
}
.products__options {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.0555555556rem;
  width: 5.0555555556rem;
  background-color: #3A587E;
  margin-top: 1.1666666667rem;
  border-radius: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .products__options {
    display: none;
  }
}
.products__options__icon {
  height: 2.1111111111rem;
  width: 2.1111111111rem;
  fill: #fff;
  margin-top: 0.9444444444rem;
}
.products__options__desc {
  font-size: 0.7777777778rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.products__img {
  margin-left: 2.8888888889rem;
}
@media screen and (max-width: 768px) {
  .products__img {
    margin-left: 0;
  }
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fullscreen-menu__close {
  position: absolute;
  top: 1.5rem;
  right: 0.4444444444rem;
}
.fullscreen-menu.open {
  left: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

.dropdown:hover .dropdown__options__menu {
  left: 0;
  opacity: 1;
}

.dropdown__options__menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5555555556rem 1.6666666667rem;
  width: 15.1666666667rem;
  top: 100%;
  left: -555.5rem;
  color: #1E1F20;
  font-size: 0.8888888889rem;
  font-weight: 500;
  opacity: 0.8;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  border-radius: 0.2222222222rem;
  margin-top: -5.1111111111rem;
  margin-left: 5rem;
}

.dropdown__options__menu:before {
  content: "";
  display: block;
  height: 1.6666666667rem;
  right: 0;
  width: 100%;
  bottom: 100%;
  position: absolute;
}

.dropdown__products__options__icon {
  height: 1.3333333333rem;
  width: 1.3333333333rem;
  margin-right: 0.8888888889rem;
}

.dropdown__options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5555555556rem;
}
.dropdown__options__item:last-child {
  margin-bottom: 0;
}

.dropdown__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow__left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .arrow__left {
    top: 30%;
    left: 17%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__left {
    top: 21%;
    left: 13%;
  }
}

.arrow__right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .arrow__right {
    top: 30%;
    left: 78%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__right {
    top: 21%;
    left: 81%;
  }
}

.arrow__icon {
  fill: #000;
  height: 1.6111111111rem;
  width: 0.8333333333rem;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team--version--desktop {
    display: none;
  }
}
.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  min-width: 12.2222222222rem;
  position: relative;
  min-height: 23.3333333333rem;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-right: 0;
    min-height: 0.2777777778rem;
  }
}
.team__item--version--mobile {
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .team__item {
    margin-bottom: 0.4444444444rem;
  }
}
.team__member {
  height: 16.1111111111rem;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .team__member {
    height: 10rem;
    margin-bottom: 0.7222222222rem;
  }
}
.team__title {
  color: #292929;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: 1.1666666667rem;
  font-weight: bold;
  margin-bottom: 0.4444444444rem;
}
.team__title::after {
  content: url(../img/Polygon.svg);
  margin-left: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 0.8888888889rem;
  }
}
.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}
.team__content--version--desktop {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team__content--version--desktop {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .team__img {
    display: inline;
  }
}
@media screen and (max-width: 480px) {
  .team__img {
    height: 10rem;
    width: 7.6666666667rem;
  }
}
.team__profession {
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .team__profession {
    font-weight: 700;
  }
}
.team__desc {
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .team__desc {
    padding: 0 13%;
  }
}

.team__item.active .team__title::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal {
  background: #313131;
  display: none;
  z-index: 1000;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 1.9444444444rem 3.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 0.8333333333rem;
  color: #000;
}

.products-menu-section {
  background: url(../../img/menu-products.png) center center/cover no-repeat, rgba(0, 0, 0, 0.2);
  position: relative;
  color: #fff;
  background-blend-mode: darken;
}
.products-menu-section .products-menu-section:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.products-menu-section__title {
  vertical-align: top;
  text-align: start;
  margin-left: 84px;
}

.products-menu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__title {
  position: relative;
  width: 100px;
}
.products-menu__title .products-menu-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.products-menu__title.products-menu-section__title {
  position: absolute;
  top: 80px;
  left: 71px;
  color: #fff;
}

.products-menu__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-menu__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}

.products-menu__content {
  background: rgba(47, 50, 52, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.products-menu__container {
  padding: 40px 73px 45px 26px;
}

.products-menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
}