.benefits-section {
  padding: rem(107px) 0 rem(114px);
}

.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: rem(31px);
  }

  &:before {
    content: url(../img/dots.png);
    position: absolute;
    top: rem(64px);
    right: 0;
    transform: translate(50%);
    
    @include tablets {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}