.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    height: rem(91px);
    background: #1968B1;
  }

  @include phones {
    height: rem(91px);
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: rem(13px);
  height: rem(13px);
  margin-right: rem(6px);
  fill: #fff;

  &--black {
    fill: #000;
  }
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}