.arrow__left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  @include tablets {
    top: 30%;
    left: 17%;
  }

  @include phones {
    top: 21%;
    left: 13%;
  }
}

.arrow__right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  @include tablets {
    top: 30%;
    left: 78%;
  }

  @include phones {
    top: 21%;
    left: 81%;
  }
}

.arrow__icon {
  fill: #000;
  height: rem(29px);
  width: rem(15px);
}