.button {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(22px) rem(43px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;

  &--theme--yellow {
    background: #FEDB3F;
    color: black;

    &:hover {
        color: black;
        background: #FFD517;
    }
  }

  &--theme--yellow-form {
    background: #FFD517;
    color: black;

    &:hover {
        color: black;
        background: #FEDB3F;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;

    &:hover {
      color: #FFD517;
    }
  }
}