.products-menu-section {
  background: url(../../img/menu-products.png) center center/cover no-repeat, rgba(0,0,0,.2);
  position: relative;
  color: #fff;
  background-blend-mode: darken;


  .products-menu-section:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}

.products-menu-section__title {
  vertical-align: top;
  text-align: start;
  margin-left: 84px;
}

.products-menu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.products-menu__item {
  display: flex;
}

.products-menu__title {
  position: relative;
  width: 100px;
  
  .products-menu-title:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}

.products-menu__title.products-menu-section__title {
  position: absolute;
  top: 80px;
  left: 71px;
  color: #fff;
}

.products-menu__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.products-menu__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1;
  font-size: 48px;
  font-weight: bold; 
}

.products-menu__content {
  background: rgba(47, 50, 52, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width .7s;
}

.products-menu__container {
  padding: 40px 73px 45px 26px;
}

.products-menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
}

