.socials {
  &__list {
    display: flex;
  }

  &__item {
    width: rem(20px);
    height: rem(20px);

    &:not(:first-child) {
      margin-left: rem(5px);
    }
  }

  &__link {
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: #B3B3B3;
    transition: .5s;

    &:hover {
      fill: #292929;
    }
  }
}
